@using ServiceManagment.Data.Enum
@model ServiceManagment.ViewModel.CreateOrderViewModel

@{
}

<html>
    <head>

    </head>
    <body class="bg-dark text-white">
        <div class="text-center fs-1">
            <h1 class="display-3">Add new order</h1>
        </div>
        <div class="container" style="margin: 19%; margin-top: 2%;">
            <form method="post" asp-action="Create">
                <input type="text" asp-for="@Model.WorkerId" hidden/>
                <input type="hidden" name="CustomerId" asp-for="CustomerId" />
                <div class="row">
                    <div class="col-md-3 mt-4" style="margin-right: 10%">
                        <label class="form-label">Product type</label>
                        <select asp-for="Product.ProductType" asp-items="Html.GetEnumSelectList<ProductType>()"
                            class="form-control">

                        </select>
                    </div>
                    <div class="col-md-3 mt-4">
                        <label class="form-label">Product fault</label>
                        <input type="text" asp-for="Product.Fault" class="form-control" placeholder="Equipment fault" />
                        <span asp-validation-for="Product.Fault" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-4" style="margin-right: 10%">
                        <label class="form-label">Producer name</label>
                        <input type="text" asp-for="Product.ProducerName" class="form-control" placeholder="Producer name" />
                        <span asp-validation-for="Product.ProducerName" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mt-4">
                        <label class="form-label">Cost</label>
                        <input type="number" step="0.1" asp-for="Payment.ToPay" class="form-control" placeholder="Cost" />
                        <span asp-validation-for="Payment.ToPay" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-4" style="margin-right: 10%">
                        <label class="form-label">Model</label>
                        <input type="text" asp-for="Product.Model" class="form-control" placeholder="Model" />
                        <span asp-validation-for="Product.Model" class="text-danger"></span>

                        <div class="col-md-12 mt-4" style="margin-right: 10%">
                            <label class="form-label">Serial number</label>
                            <input type="text" asp-for="Product.SerialNumber" class="form-control" placeholder="Serial number" />
                            <span asp-validation-for="Product.SerialNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4">
                        <label class="form-label">Product description</label>
                        <textarea type="text" class="form-control" asp-for="Product.Description" style="resize: none" rows="5" placeholder="Product description">

                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-5" style="margin-left: 24%;">
                        <button type="submit" class="btn btn-outline-success btn-lg">Create order</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
