@using ServiceManagment.Data.Enum
@model ServiceManagment.ViewModel.CreateOrderViewModel

@{
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label class="form-label">Product type</label>
        <select asp-for="Product.ProductType" asp-items="Html.GetEnumSelectList<ProductType>()"></select>
    </div>
    <div class="form-group">
        <label class="form-label">Producer name</label>
        <input type="text" asp-for="Product.ProducerName" class="form-control" placeholder="Producer name" />
    </div>
    <div class="form-group">
        <label class="form-label">Model</label>
        <input type="text" asp-for="Product.Model" class="form-control" placeholder="Model" />
    </div>
    <div class="form-group">
        <label class="form-label">Serial number</label>
        <input type="text" asp-for="Product.SerialNumber" class="form-control" placeholder="Serial number" />
    </div>
    <div class="form-group">
        <label class="form-label">Product fault</label>
        <input type="text" asp-for="Product.Fault" class="form-control" placeholder="Equipment fault" />
    </div>
    <div class="form-group">
        <label class="form-label">Product description</label>
        <input type="text" asp-for="Product.Description" class="form-control" placeholder="Equipment description" />
    </div>
    <button type="submit" class="btn btn-primary">Create order</button>
</form>
