@model ServiceManagment.ViewModel.EditOrderPaymentViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="EditOrderPayment">
    <input type="number" asp-for="@Model.Id" hidden />
    <div class="form-group">
        <label class="form-label">Paid</label>
        <input type="text" class="form-control" asp-for="@Model.Paid" readonly/>
    </div>
    <div class="form-group">
        <label class="form-label">To pay</label>
        <input type="text" class="form-control" asp-for="@Model.ToPay"/>
        <span asp-validation-for="ToPay" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-danger">Save</button>
</form>

