@using ServiceManagment.Data.Enum
@model ServiceManagment.Models.Customer

@{
}

<form method="post" asp-action="Add">
  <div class="form-group">
    <label class="form-label">Customer Type</label>
    <select asp-for="CustomerType" asp-items="Html.GetEnumSelectList<CustomerType>()" class="form-control">
        <option>Select type</option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="form-label">NIP</label>
    <input type="text" class="form-control" asp-for="NIP" placeholder="NIP, if company">
  </div>
  <div class="form-group">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" asp-for="Description" placeholder="Description">
  </div>
  <br />
  <div class="form-group">
    <label class="form-label">City</label>
    <input type="text" class="form-control" asp-for="Address.City" placeholder="City">
  </div>
  <div class="form-group">
    <label class="form-label">Street</label>
    <input type="text" class="form-control" asp-for="Address.Street" placeholder="Street">
  </div>
  <div class="form-group">
    <label class="form-label">Flat number</label>
    <input type="text" class="form-control" asp-for="Address.FlatNumber" placeholder="Flat number">
  </div>
  <div class="form-group">
    <label class="form-label">Postal code</label>
    <input type="text" class="form-control" asp-for="Address.PostalCode" placeholder="Postal code">
  </div>
  <br />
  <div class="form-group">
    <label class="form-label">Phone number</label>
    <input type="tel" class="form-control" asp-for="Contact.PhoneNumber" placeholder="Phone number">
  </div>
  <div class="form-group">
    <label class="form-label">Phone number</label>
    <input type="tel" class="form-control" asp-for="Contact.SecondPhoneNumber" placeholder="Second phone number">
  </div>
  <div class="form-group">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" asp-for="Contact.EmailAddress" placeholder="Email address">
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
