@model ServiceManagment.Models.Customer

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>

    </head>
    <body>
        <div class="container text-center text-white">
            <div class="row">
                <span class="text-danger mb-3">
                    <h3>You want to delete user?</h3>
                </span>
                <div class="container">
                    <form method="post" asp-action="DeleteCustomer">
                        <input asp-for="@Model.Id" hidden />
                        <div class="col md-3">
                            <label class="form-label fs-5">@Model.UserAdded</label>
                        </div>
                        <div class="col md-3">
                            <label class="form-label fs-1"><b>@Model.Name</b></label>
                        </div>
                        <div class="col-md-2 mt-4" style="margin-left: 42%">
                            <div class="row">
                                <input type="submit" class="form-control btn btn-outline-danger btn-lg" value="Confirm" />
                            </div>
                            <div class="row mt-4">
                                <input type="submit" class="form-control btn btn-outline-success btn-lg" asp-action="Detail" asp-route-id="@Model.Id" value="Back" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>