@model ServiceManagment.ViewModel.LoginWorkerViewModel

@{
}

<html>
    <head>
        @*add meta*@
    </head>
    <body class="bg-dark text-white">
        <div class="text-center fs-1">
            <h1 class="display-3">Login</h1>
        </div>
        <div class="container" style="margin: 37%; margin-top: 2%;">
            <form method="post">
                <div class=" text-center col-md-3 mt-3">
                    @if(TempData["Error"] != null)
                    {
                        <div>
                            <span class="text-danger">@TempData["Error"]</span>
                        </div>
                    }
                </div>
                <div class="col-md-3 mt-4">
                    <label class="form-label">Email address</label>
                    <input type="text" class="form-control" asp-for="EmailAddress" placeholder="Email Address" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-3 mt-4 bg-dark">
                    <input type="submit" class="form-control btn btn-outline-success btn-lg" value="Log in" />
                </div>
            </form>
        </div>
    </body>
</html>
